<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-list</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
</head>
<body>
    <div class="nav-bar">
        <a class="nav-item" href="{% url 'home' %}">HOME</a>
        {% if user.is_authenticated %}
        <div class="nav-item">안녕하세요, {{ user.username }}님</div>
        <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
        {% endif %}
        <a class="nav-item" href="{% url 'login' %}">로그인</a>
        <a class="nav-item" href="{% url 'signup' %}">회원가입</a>
      </div>
      {% block content %}
      {% endblock content %}

      
    <div class="container">
        <div class="logo">
            <h1>TO-DO-LIST</h1>
        </div> 

        {% for list in lists %}
        <div class="box">
            <div class="top">
                <a href="{% url 'edit' list.pk %}">
                    <div class="edit"><span class="material-icons"> more_horiz </span></div>
                </a>
                <a href="{% url 'delete' list.pk %}">
                    <div class="del"><span class="material-icons"> clear </span></div>
                </a>
            </div>
            <a href="{% url 'detail' list.pk %}">
            <div class="main">
                <h2>{{ list.title }}</h2>
                <p> {{ list.content }} </p>
                <br>
                <p>마감 기한 : {{ list.duedate }}</p> 
            </div>
            </a>        
        </div>
        {% endfor %}
        <a href="{% url 'new' %}">
        <div class="add">+ ADD List</div>
        </a>
    </div>
</body>
</html>